parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false

    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
